@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #0f172a;
  --color-accent: #2563eb;
  --color-accent-light: #3b82f6;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
